body{
    background-color:#F2F7F8;
  }
  .titulo {
    margin: 0% 0%;
    padding: 50px;
    background-color:#017EBF ;
    color: white;
  }
  h1{
      background-color:#F2F7F8; 
      text-align: center;
      color: black;
  }
  
  #borrar{
      color: white;
      background-color: red;
      border-color: red;
  }
  #tabla{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
  #tablaItems {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tablaItems td, #tablaItems th {
    border: 1px solid #ddd;
    padding: 8px;
    border-bottom: 6px solid red;
  }
  
  #tablaItems tr:nth-child(even){background-color: #f2f2f2;}
  
  #tablaItems tr:hover {background-color: #ddd;}
  
  #tablaItems th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F2F7F8;
    color: white;
  }
  #tablaItems{
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    #tablaItems td, #tablaItems th {
      border: 1px solid #ddd;
      padding: 8px;
    }
    #tablaItems tr .primeraFila{

        text-align: center;
        background-color: #3D7BA8;
        color: white;
    }
    #tablaItems tr:nth-child(even){background-color: #f2f2f2;}
    
    #tablaItems tr:hover {background-color: #ddd;}
    
    #tablaItems th {      
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #F2F7F8;
      color: white;
    }
    .cr{
      background-color:#4CAF50 ;
      color: white;
    }
  
    #enviarSolicitud {
      display:inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      width: 70%;
      margin-left: 15%;
  
    }
    
    #enviarSolicitud:hover {background-color: #3e8e41}
    #enviarSolicitud:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
    textarea{  
      margin: 10px 10px;
      display: block;
    margin-left: auto;
    margin-right: auto;    
      
    }

